/* Google fonts */
@import url('https://fonts.googleapis.com/css2?family=Amiri:wght@400;700&family=Montserrat:wght@400;600;700&display=swap');

* {
    padding: 0;
    margin: 0;
}

body, html {
    font-family: 'Montserrat', sans-serif;
}

.body {
    display: grid;
    height: 100vh;
    grid-template-columns: 6em auto;
    grid-template-rows: auto;
    grid-template-areas: "sidebar main"
                         "sidebar main"
                         "sidebar main";
}

header, aside, main {
    text-align: center;
}

header {
    position: absolute;
    background-color: transparent;
    width: 100%;
    height: 5em;
}

aside {
    background-color: white;
    grid-area: sidebar;
}

aside .beautica-list .beautica-item {
    font-family: 'Amiri', serif;
    font-weight: 700;
    font-size: 28px;
    color: black;
}

main {
    grid-area: main;
    background-image: url('../images/01_slide-1.jpg');
    background-size: cover;
    background-position: center;

    /* Grid properties */
    display: grid;
    height: 100vh;
    grid-template-columns: auto;
    grid-template-rows: 38% 24% 6% 32%;
    grid-template-areas: "top top"
                         "middle middle"
                         "before-bottom before-bottom"
                         "bottom bottom";
}


.middle {
    background-color: transparent;
    grid-area: middle;
    display: flex;
    height: 100%;
    flex-direction: row;
    justify-content: space-between;
}

.middle .cta {
    background-color: white;
    width: 32em;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    text-align: left;
    font-family: 'Amiri', serif;
    line-height: 2.5em;
}

.middle .cta .cta-regular-text {
    font-weight: 400;
    font-size: 42px;
}

.middle .cta .cta-bolded-text {
    font-weight: 700;
    font-size: 52px;
}

.middle .pagination {
    background-color: #B5CDB7;
    width: 4em;
}

.middle .pagination .pagination-items {
    list-style: none;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    align-items: center;
    height: 100%;
    width: auto;
    padding: 0px;
}

.middle .pagination .pagination-items .pagination-item {
    width: 1em;
    height: 1em;
    background-color: white;
    border-radius: 50%;
    cursor: pointer;
}

.middle .pagination .pagination-items .pagination-item.active {
    background-color: black;
}

.middle .pagination .pagination-items .pagination-item:hover {
    background-color: black;
}

.before-bottom {
    grid-area: before-bottom;
    width: 32em;
    display: flex;
    flex-direction: row;
    justify-content: right;
    align-items: center;
}

.before-bottom .btn {
    background-color: black;
    border: 0;
    text-decoration: underline;
    color: white;
    font-weight: 600;
    padding: .7em 1.5em;
    cursor: pointer;
}

.bottom {
    background-color: transparent;
    grid-area: bottom;
}

header .navigation-list {
    display: flex;
    list-style: none;
    flex-direction: row;
    justify-content: right;
    align-items: center;
    height: 100%;
}

header .navigation-list .navigation-item {
    margin: 20px;
}

aside .beautica-list {
    list-style: none;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    align-items: center;
    height: 100%;
    width: auto;
    padding: 0px;
}


/* Effects */

/* Fading animation */
.fade {
    transition: .5s;
  }
